.jumbotron {
  background: linear-gradient(0deg, transparent, rgb(216 204 204 / 49%));
}

@media screen and (min-width: 900px) {
  .text-md-dark {
    color: black !important;
  }
}

.lel {
  margin-top: 5%;
}

a {
  color: black;
  text-decoration: none;
}
.endlogo {
  transform: rotate(25deg);
}
#endlst {
  list-style-type: none;
  text-decoration: inherit;
  color: black;
}
